.dockerignore

db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
tmp
build
.eggs
.pytest_cache
docs
helper_scripts
dist
.vscode
resource
tests
config
# *.sh
.DS_Store
.gitignore
.coveragerc
.venv
*.md
.pylintrc
.gitlab-ci.yml
LICENSE
local_dev
scripts
*.dockerfile
