# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
/tmp

# Project k8s config
config

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
.venv

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
.pytest_cache
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST
