requests>=2.20.0
google-auth==1.5.1
python-dateutil==2.7.3
pyyaml==5.4
oauthlib==3.0.0
kubernetes==10.0.1
click==6.7
click_log==0.3.2
docker==3.7.0
# Use current master to prevent pathlib error
git+https://github.com/zalando/python-nsenter.git@b7fd78fef24c456d88130c75fe734417728e97e8
attrs==19.1.0
pluggy==0.11.0
pytest==4.5.0
urllib3>=1.24.2
setuptools>=41.0.1
coverage==4.5.3
pytest-cov==2.7.1
termcolor==1.1.0
python-nmap==0.6.1
